<phpunit
    backupGlobals="true"
    bootstrap=".Build/vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    verbose="false"
    beStrictAboutTestsThatDoNotTestAnything="false">
    <testsuites>
        <testsuite name="Functional tests">
            <directory>Tests/Functional/</directory>
        </testsuite>
        <testsuite name="Unit tests">
            <directory>Tests/Unit/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">Classes/</directory>
        </whitelist>
    </filter>
</phpunit>
